<div class="container">
  <h2 class="text-center">Tous les Conseils</h2>
  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addProductModal">Ajouter un nouveau Conseil</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Non de la ville</th>
        <th scope="col">Description</th>
        <th scope="col">Image</th>
        <th scope="col">Utilisateur</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Contrôles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of allProducts; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{product.Name}}</td>
        <td>{{product.Description}}</td>
        <td><img [src]="product.Image" style="max-width: 50px;"></td>
        <ng-container *ngFor="let user of allUsers">
          <td *ngIf="product.userID == user.ID">{{user.name}}</td>
        </ng-container>
        <ng-container *ngFor="let cat of allCategories">
          <td *ngIf="product.catID == cat.CatId">{{cat.Name}}</td>
        </ng-container>
        <td>
          <button class="btn btn-success" (click)=selectProduct(product.ID) data-bs-toggle="modal" data-bs-target="#updateProductModal"><i class="fas fa-edit"></i></button>
          <button class="btn btn-danger" (click)=delete(product.ID)><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
</div>




<!-- Start Add Product Modal -->

<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addProductModalLabel">Ajouter un nouveau Alerte</h5>
        <button type="button" class="btn-close" #closeButton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="addNewProduct(f)">
          <div class="mb-3">
            <label for="exampleInputName" class="form-label">Non de la ville</label>
            <input type="text" class="form-control" id="exampleInputName" name="Name" #Name="ngModel" ngModel required>
          </div>
          <div class="alert alert-danger" *ngIf="Name.errors?.required && Name.touched">Nom de la ville est requis</div>

          <div class="mb-3">
            <label for="exampleInputDescription" class="form-label">Description</label>
            <input type="text" class="form-control" id="exampleInputDescription" name="Description" #Description="ngModel" ngModel required>
          </div>
          <div class="alert alert-danger" *ngIf="Description.errors?.required && Description.touched">Description est requis</div>

          <div class="mb-3">
            <label for="exampleInputImage" class="form-label">Image</label>
            <input class="form-control" type="file" accept=".jpg, .png" name="Image" (change)="uploadImage($event)" #Image="ngModel" ngModel required> <br>
            <div class="progress" *ngIf="percentage | async as pct">
              <progress class="progress-bar" role="progressbar" [style.width.%]="pct" [value]="pct" aria-valuemin="0" aria-valuemax="100"><span>100%</span></progress>
          </div>
          </div>
          <div class="alert alert-danger" *ngIf="Image.errors?.required && Image.touched">Image est rquis</div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="users">Utilisateur</label>
            <select class="form-select" id="users" name="userId" #userId="ngModel" ngModel required>
              <ng-container *ngFor="let user of allUsers">
                <option [value]="user.ID">{{user.name}}</option>
              </ng-container>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="userId.errors?.required && userId.touched">Nom d'utilisateur est requis</div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="category">Categories</label>
            <select class="form-select" id="category" name="categoryId" #categoryId="ngModel" ngModel required>
              <ng-container *ngFor="let category of allCategories">
                <option [value]="category.CatId">{{category.Name}}</option>
              </ng-container>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="categoryId.errors?.required && categoryId.touched">Le nom de la Catégorie est requis</div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" type="submit" class="btn btn-primary" [disabled]="f.invalid">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End Add Product Modal -->

<!-- Start Update Product Modal -->

<div class="modal fade" id="updateProductModal" tabindex="-1" aria-labelledby="updateProductModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateProductModalLabel">Update {{product.Name}} Product</h5>
        <button type="button" class="btn-close" #closeButtonUpdate data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #updateF="ngForm" (ngSubmit)="updateProduct(updateF)">
          <input type="hidden" name="ID" #ID="ngModel" [(ngModel)]="product.ID">

          <div class="mb-3">
            <label for="exampleInputName" class="form-label">Nonm de la ville</label>
            <input type="text" class="form-control" id="exampleInputName" name="Name" #Name="ngModel" [(ngModel)]="product.Name" required>
          </div>
          <div class="alert alert-danger" *ngIf="Name.errors?.required && Name.touched">Nom Requis</div>

          <div class="mb-3">
            <label for="exampleInputDescription" class="form-label">Description</label>
            <input type="text" class="form-control" id="exampleInputDescription" name="Description" #Description="ngModel" [(ngModel)]="product.Description" required>
          </div>
          <div class="alert alert-danger" *ngIf="Description.errors?.required && Description.touched">Description Requis</div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="users">Utilisateur</label>
            <select class="form-select" id="users" name="userId" #userId="ngModel" [(ngModel)]="product.userID" required>
              <ng-container *ngFor="let user of allUsers">
                <option [value]="user.ID">{{user.name}}</option>
              </ng-container>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="userId.errors?.required && userId.touched">Nom d'utilisateur Requis</div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="category">Categories</label>
            <select class="form-select" id="category" name="categoryId" #categoryId="ngModel" [(ngModel)]="product.catID" required>
              <ng-container *ngFor="let category of allCategories">
                <option [value]="category.CatId">{{category.Name}}</option>
              </ng-container>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="categoryId.errors?.required && categoryId.touched">Nom de la categorie est Requis</div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" type="submit" class="btn btn-primary" [disabled]="updateF.invalid">Mettre à jour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End Update Product Model -->
