<div class="header">
  <div class="container top-header">
      <div class="nav">
        <div class="brand">
            <h2>Bienvenue sur Dashoard Mali Climat</h2>
        </div>
        <div class="user">
          <img src='./assets/images/admin-avatar.jpg' alt="personPic">
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Mohamed BAH
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item">Déconnexion</a></li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>

