.box {
  color: #fff;
  font-size: 40px;
  padding: 44px 25px;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;

}

.count {
  font-size: 70px;
}

.users {
  background-color: #272ad3;
}

.cats {
  background-color: #1cd835;
}

.products {
  background-color: #a9a7fc;
}

a {
  text-decoration: none;
}
