<div class="container">
  <h2 class="text-center">Tous les utilisateurs</h2>
  <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addUserModal">Ajouter un nouveau utilisateur</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nom Complet</th>
        <th scope="col">Email</th>
        <th scope="col">Contrôles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of allUsers; index as i">
        <th scope="row">{{i + 1}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>
          <button class="btn btn-success" (click)=selectUser(user.ID) data-bs-toggle="modal" data-bs-target="#updateUserModal"><i class="fas fa-edit"></i></button>
          <button class="btn btn-danger" (click)=delete(user.ID)><i class="fas fa-trash"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-success" *ngIf="successMsg">{{successMsg}}</div>
</div>


<!-- Start Add User Modal -->

<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Ajouter un nouvel utilisateur</h5>
        <button type="button" class="btn-close" #closeButton data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="addNewUser(f)">
          <div class="mb-3">
            <label for="exampleInputname" class="form-label">Nom</label>
            <input type="text" class="form-control" id="exampleInputname" name="name" #name="ngModel" ngModel required>
          </div>
          <div class="alert alert-danger" *ngIf="name.errors?.required && name.touched">Nom est requis</div>

          <div class="mb-3">
            <label for="exampleInputemail1" class="form-label"> Addressz Email </label>
            <input type="email" class="form-control" id="exampleInputemail1" name="email" #email="ngModel" ngModel required email>
          </div>
          <div class="alert alert-danger" *ngIf="email.errors?.required && email.touched">Email est requis</div>
          <div class="alert alert-danger" *ngIf="email.errors?.email && email.touched">Votre format d'entrée ne correspond pas au format de l'e-mail</div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="Password" #Password="ngModel" ngModel required minlength="6">
          </div>
          <div class="alert alert-danger" *ngIf="Password.errors?.required && Password.touched">Mot de passe est requis</div>
          <div class="alert alert-danger" *ngIf="Password.errors?.minlength && Password.touched">La longueur du mot de passe doit être égale à 6 ou +6</div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="GroupId1">GroupId</label>
            <select class="form-select" id="GroupId1" name="GroupId" #GroupId="ngModel" ngModel required>
              <option selected value="false">utilisateur</option>
              <option value="true">Admin</option>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="GroupId.errors?.required && GroupId.touched">GroupId est rerquis</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" type="submit" class="btn btn-primary" [disabled]="f.invalid">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End Add User Modal -->

<!-- Start Update User Modal -->

<div class="modal fade" id="updateUserModal" tabindex="-1" aria-labelledby="updateUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateUserModalLabel">Mettre à jour {{user.Name}} Utilisateur</h5>
        <button type="button" class="btn-close" #closeButtonUpdate data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #updateF="ngForm" (ngSubmit)="updateUser(updateF)">

          <input type="hidden" name="userID" #userID="ngModel" [(ngModel)]="user.ID">
          <div class="mb-3">
            <label for="exampleInputName1" class="form-label">Name</label>
            <input type="text" class="form-control" id="exampleInputName1" name="Name" #Name="ngModel" [(ngModel)]="user.Name" required>
          </div>
          <div class="alert alert-danger" *ngIf="Name.errors?.required && Name.touched">Nom est requis</div>

          <div class="mb-3">
            <label for="exampleInputEmail2" class="form-label">  Address Email</label>
            <input type="email" class="form-control" id="exampleInputEmail2" name="Email" #Email="ngModel" [(ngModel)]="user.Email" required email>
          </div>
          <div class="alert alert-danger" *ngIf="Email.errors?.required && Email.touched">Email est requis</div>
          <div class="alert alert-danger" *ngIf="Email.errors?.email && Email.touched">Votre format d'entrée ne correspond pas au format de l'e-mail</div>

          <div class="input-group mb-3">
            <label class="input-group-text" for="GroupId2">GroupId</label>
            <select class="form-select" id="GroupId2" name="GroupId" #GroupId="ngModel" [(ngModel)]="user.GroupId" required>
              <option selected value="false">0</option>
              <option value="true">1</option>
            </select>
          </div>
          <div class="alert alert-danger" *ngIf="GroupId.errors?.required && GroupId.touched">GroupId est requis</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            <button type="button" type="submit" class="btn btn-primary" [disabled]="updateF.invalid">Mettre à jour</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- End Update User Model -->
