a {
  text-decoration:double;
  color: #fff;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: blue;
  color: #fff;
  min-height: 100vh;
  padding: 20px;
  width: 16.66666667%;
}

.sidebar .items {
  margin-top: 15px;
}

.sidebar .items li {
  border-bottom: 3px solid #ddd;
  padding: 10px 0;
}

.sidebar .items li a {
  color: #fff;
  margin-top: 5px;
  display: inline-block;
  margin-left: 5px;
  text-decoration: none;
  transition: .9s;
}

.sidebar .items li a:hover {
  color: #f08804;
}


ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
  font-size: large;
}
img {
  max-width: 100px;
  border-radius: 50%;
}

