<div class="sidebar">
  <img src="../../../assets/images/Mali1.png" alt="logo" >
  <h5 class="text-center" style="position: relative;"><a class="animated-button1" routerLink="/"><span></span>
    <span></span>
    <span></span>
    <span></span>  Accueil </a></h5>
  <ul class="items" style="position: fixed;">
      <li><i class="fas fa-users" style="padding-right: 10px;"></i> <a routerLink="/users"> Utilisateurs</a></li>

      <li><i class="fas fa-bell" style="padding-right: 10px;" ></i> <a class="last" routerLink="/products">  Alertes</a></li>
      <!-- <li><i class="fas fa-bell"></i> <a class="last" routerLink="/posts"> Conseils</a></li> -->
  </ul>
</div>
